<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="es">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Spring Thymeleaf</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/tema/miestilo.css}" rel="stylesheet">
</head>
<body>
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/propiedad}">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/pacientes/lista-pacientes}">Pacientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/views/doctores}">Doctores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/citas/lista-citas}">Citas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/views/especialidades}">Especialidades</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            @Utilerias
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/utilerias/ver-subir-archivo}">Subir archivo</a></li>
                            <li><a class="dropdown-item" th:href="@{/utilerias/crear-pdf(format=pdf)}" target="_blank">Crear Pdf</a></li>
                            <li><a class="dropdown-item" th:href="@{/utilerias/mandar-correo}" target="_blank">Mandar Correo</a></li>
                            <li><a class="dropdown-item" th:href="@{/utilerias/mostrar-archivos}" target="_blank">Bajar Archivos</a></li>
                            <li><a class="dropdown-item" th:href="@{/utilerias/ver-drop?version=1}">Dropdown Anidado</a></li>
                            <li><a class="dropdown-item" th:href="@{/utilerias/ver-drop?version=2}">Dropdown Anidado2</a></li>
                        </ul>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="alert alert-success" th:if="${success !=null}" th:text=${success}></div>
    <div class="alert alert-danger" th:if="${error !=null}" th:text=${error}></div>
    <div class="alert alert-warning" th:if="${warning !=null}" th:text=${warning}></div>
    <div class="alert alert-info" th:if="${info !=null}" th:text=${info}></div>
    <div th:if="${alerts}"
         class="alert alert-success alert-dismissible fade show"
         role="alert"
         id="alertMessage">
        <span th:text="${alerts}"></span>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="alert"></button>
    </div>
</header>
<footer th:fragment="footer">
    <div class="container text-center">
        <br/> <img th:src="@{/image/logo.jpg}" height="150" width="500"/>
        <p>Dirección General de Cómputo y de Tecnologías de Información y Comunicación</p>
    </div>
    <script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/bootstrap/js/jquery-3.6.3.js}"></script>
</footer>
<div th:fragment="paginaScripts">
    <script>
        document.addEventListener("DOMContentLoaded", function () {

            setTimeout(function () {
                let alert = document.getElementById("alertMessage");
                if (alert) {
                    let bsAlert = new bootstrap.Alert(alert);
                    bsAlert.close();
                }
            }, 3000);

        });
    </script>
</div>
</body>

</html>